@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main__galeria .main__galeria__section .main__galeria__section__div__aperitivo__img {
  width: 100px;
  height: 180px;
  object-fit: cover; }

.main__galeria .main__galeria__section .main__galeria__section__div__vodka__img {
  width: 100px;
  height: 180px;
  object-fit: cover; }

.main__form .main__form__section .main__form__section__h2 {
  text-align: center;
  margin-top: 40px; }

.main__form .main__form__section .main__form__section__p {
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px; }

.main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__h2 {
  text-align: center;
  margin-top: 40px; }

.main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__p {
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px; }

.main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__div {
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px; }
  .main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__div .main__contact__section__menu__div__a__i--twitter {
    color: #1da1f2;
    font-size: 3rem; }

.main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__div {
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px; }
  .main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__div .main__contact__section__menu__div__a__i--facebook {
    color: #3b5998;
    font-size: 3rem; }

.main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__div {
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px; }
  .main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__div .main__contact__section__menu__div__a__i--instagram {
    color: #cb2027;
    font-size: 3rem; }

.main__contact .main__contact__section .main__contact__section__menu .main__contact__section__menu__div {
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px; }

.main__location .main__location__section .main__location__section__h2 {
  text-align: center;
  margin-top: 40px; }

.main__location .main__location__section .main__location__section__div__maps {
  text-align: center;
  padding: 30px; }

.main__about .main__about__section .main__about__section__h2 {
  text-align: center;
  margin-top: 40px; }

.main__about .main__about__section .main__about__section__p--superior {
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px; }

.main__about .main__about__section .main__about__section__p--inferior {
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px; }

.main__about .main__about__section .main__about__section__div--video {
  width: 300px;
  height: 300px;
  object-fit: cover; }

.body {
  background-color: white;
  color: black;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  letter-spacing: 02px; }

.header {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  letter-spacing: 02px; }
  .header .header__nav__superior .header__nav__superior__div .header__nav__superior__div__color--button {
    background-color: goldenrod; }
  .header .header__div__logo .header__div__logo__a .header__div__logo__a__img {
    width: 250px; }
  .header .header__div__titulo .header__div__titulo--h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: "Ubuntu", sans-serif; }
  .header .header__div__titulo .header__div__titulo--h2 {
    color: white;
    background-color: black;
    text-align: center; }
  .header .header__nav__inferior {
    text-align: center; }
    .header .header__nav__inferior .header__nav__inferior__div__ul {
      list-style-type: none; }
      .header .header__nav__inferior .header__nav__inferior__div__ul .header__nav__inferior__div__ul__li {
        display: inline-block;
        padding: 10px; }
        .header .header__nav__inferior .header__nav__inferior__div__ul .header__nav__inferior__div__ul__li .header__nav__inferior__div__ul__li__a {
          text-decoration: none;
          color: white; }
          .header .header__nav__inferior .header__nav__inferior__div__ul .header__nav__inferior__div__ul__li .header__nav__inferior__div__ul__li__a:hover {
            color: goldenrod; }

.footer {
  color: white;
  background-color: black;
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100%; }
  .footer .footer__p {
    color: white;
    margin-bottom: 10px; }
  .footer .footer__a--twitter {
    color: #1da1f2;
    font-size: 3rem; }
  .footer .footer__a--facebook {
    color: #3b5998;
    font-size: 3rem; }
  .footer .footer__a--instagram {
    color: #cb2027;
    font-size: 3rem; }
  .footer .footer__a--linkedin {
    color: #007bb6;
    font-size: 3rem; }
