.footer{
    color: $header-footer-color;
    background-color: $header-footer-bg-color;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
    .footer__p {
        color: white;
        margin-bottom: 10px;
    }
    .footer__div{
        display: flex;
        justify-content: space-evenly;
        .footer__div__a--twitter {
            color: map-get($redes-sociales, twitter);
            font-size: 3rem;
        }
        .footer__div__a--facebook {
            color: map-get($redes-sociales, facebook);
            font-size: 3rem;
        }
        .footer__div__a--instagram {
            color: map-get($redes-sociales, instagram);;
            font-size: 3rem;
        }
        .footer__div__a--linkedin {
            color: map-get($redes-sociales, linkedin);
            font-size: 3rem;
        }
    }
    
}