.main__about{
    .main__about__section{
        .main__about__section__h2 {
            @include mixinH2-center-mt;
        }
        .main__about__section__p--superior {
            @include mixinP-center-mt-ml-mr;
        }
        .main__about__section__p--inferior {
            @include mixinP-center-mt-ml-mr;
        }
        .main__about__section__div {
            display: flex;
            justify-content: center;
            align-items: center;
            .main__about__section__div__a{
                .main__about__section__div__a__img{
                    width: 220px;
                    height: 340px;
                    object-fit: cover;
                }
            }
        }
    }
}