.main__contact{
    .main__contact__section{
        .main__contact__section__menu{
            .main__contact__section__menu__h2 {
                @include mixinH2-center-mt;
            }
            .main__contact__section__menu__p {
                @include mixinP-center-mt-ml-mr;
            }
            .main__contact__section__menu__div {
                @include mixinP-center-mt-ml-mr;
                .main__contact__section__menu__div__a__i--twitter {
                    color: map-get($redes-sociales, twitter);
                    font-size: 3rem;
                }

            }
            .main__contact__section__menu__div {
                @include mixinP-center-mt-ml-mr;
                .main__contact__section__menu__div__a__i--facebook {
                    color: map-get($redes-sociales, facebook);
                    font-size: 3rem;
                }
            }
            .main__contact__section__menu__div{
                @include mixinP-center-mt-ml-mr;
                .main__contact__section__menu__div__a__i--instagram {
                    color: map-get($redes-sociales, instagram);
                    font-size: 3rem;
                }
            }
            .main__contact__section__menu__div{
                @include mixinP-center-mt-ml-mr;
                .main__contact__section__menu__div__a__i--linkedin {
                    color: map-get($redes-sociales, linkedin);
                    font-size: 3rem;
                }
            }
        }
    }
}