.main__about{
    .main__about__section{
        .main__about__section__h2 {
            @include mixinH2-center-mt;
        }
        .main__about__section__p--superior {
            @include mixinP-center-mt-ml-mr;
        }
        .main__about__section__p--inferior {
            @include mixinP-center-mt-ml-mr;
        }
        .main__about__section__div--video {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }
}