$body-bg-color: white;
$body-color: black;
$header-footer-bg-color: black;
$header-footer-color: white;
$font-f-primary: 'Ubuntu', sans-serif;
$redes-sociales:(
    twitter: #1da1f2,
    facebook: #3b5998,
    instagram: #cb2027,
    linkedin: #007bb6,
);